Dowload the pre-compiled exploration files here (Data.tar.gz | 343.9 Mo).

https://share.orange.fr/#ps81g8VicV3f0e1372a2


Its in French: first clic on the file, then on the "Télécharger" button.

This file contain six folders (0.5Msol | 0.6Msol | 0.7Msol | 0.8Msol | 0.9Msol | 1.0Msol). 

In each of them there are 480 files named Explo_100_sma_prot_sort.dat


numpy
scipy
matplotlib
random
sys
math
stats
